@font-face {
  font-family: "iconfont"; /* Project id 4833949 */
  src: url('iconfont.woff2?t=1742181942673') format('woff2'),
       url('iconfont.woff?t=1742181942673') format('woff'),
       url('iconfont.ttf?t=1742181942673') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baocun:before {
  content: "\e936";
}

.icon-quxiao:before {
  content: "\e63c";
}

.icon-shanchu:before {
  content: "\e642";
}

.icon-bianji:before {
  content: "\e840";
}

.icon-jiahao:before {
  content: "\eaf3";
}

